/* html {
    height: 100%;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-size: cover;
    font-family: sans-serif;
}

#overlay {
    background: rgba(146, 212, 220, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#meal {
    max-width: 850px;
    text-align: center;
    padding: 30px 30px 12px 30px;
    color: rgb(255, 255, 255);
    background-color: #3daeae;
    border: 4px solid #00ffff;
    border-radius: 5px;
    box-sizing: border-box;
}

#meal h1 {
    margin: 0 0 15px 0;
    text-transform: uppercase;
}

#meal img {
    max-width: 300px;
    border: 6px solid #fff;
    border-radius: 150px;
}

#meal ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#meal li {
    padding: 15px;
    font-size: 18px;
    /* border-bottom: 1px solid #FFFFFF */
}